<article class="post-list--post-detail">

{% if post.title %}
<h2>{{post.title}}</h2>
{% endif %}

<div class="post-detail--content">{{post.content|safe_html|safe}}</div>

<ul class="tag-list">
	{% for tag in post.tags %}
	<li class="tag-list--tag"><a href="/posts/tag/{{tag}}">{{tag}}</a></li>
	{% endfor %}
</ul>

{% if post.private %}<p class="private-label">Private</p>{% endif %}

{% if user and user.user_id() == post.user_id %}
<details>
	<summary class="post-detail--action-bar-heading">Actions</summary>

	<ul class="post-detail--action-bar--actions">
		<li><a href="/post/{{post.key.urlsafe()}}">Link</a></li>
		<li><a href="/post/{{post.key.urlsafe()}}/edit">Edit</a></li>

	</ul>
</details>
{% endif %}

</article>