
summary::before {
  content: '\25B6';
  margin: 0;
  padding-right: 0.5rem;
}

details[open] > summary::before {
  content: '\25BC';
}

.post-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.post-list--post-detail	 {
	min-width: 15rem;
	max-width: 25rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.post-detail--post-content {
	margin-bottom: 2rem;
}

.private-label {
	text-transform: uppercase;
	font-size: smaller;
}

.tag-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
}

.post-detail--action-bar-heading {
	font-size: small;
	font-weight: bold;
}

.post-detail--action-bar--actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
	font-size: small;
}

textarea.post-entry--content {
	height: 25vh;
}